workflows/linkedin_finder.json
{
  "updatedAt": "2025-10-18T02:30:22.000Z",
  "createdAt": "2025-10-15T22:41:29.773Z",
  "id": "KAQgQpX0b3ZNKgNk",
  "name": "Linkedin Finder",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "3fe95d38-998c-4c42-a4cd-d255a0f7393d",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "linkedin_found",
              "leftValue": "={{ $json.output.linkedin_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "058ff4ae-909c-4ee3-b166-130d6ff86161",
      "name": "IF - LinkedIn Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "uk_executives_list",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Unprocessed Records').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "linkedin_url",
              "fieldValue": "={{ $json.output.linkedin_url }}"
            }
          ]
        }
      },
      "id": "5837698b-4c64-4660-ace1-4072bba5907a",
      "name": "Supabase - Update with LinkedIn",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "uk_executives_list",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Unprocessed Records').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "linkedin_url",
              "fieldValue": "EMPTY"
            }
          ]
        }
      },
      "id": "b616af53-656b-4ec1-a9cd-1261a4b1986b",
      "name": "Supabase - Mark Processed (No LinkedIn)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -320,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "uk_executives_list",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "processed",
              "condition": "eq",
              "keyValue": "false"
            }
          ]
        }
      },
      "id": "dc20d596-9c6a-4c92-9877-c8901c30194f",
      "name": "Get Unprocessed Records",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1536,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      },
      "notes": "Fetches all records where processed = false from uk_executives_list table"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fc01e531-228b-4952-815f-1861cc5d6799",
      "name": "Loop Through Directors",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1280,
        208
      ],
      "notes": "Processes each director one at a time through the loop"
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "d064d828-2214-48a6-918e-ff45c246b693",
      "name": "Wait (Rate Limiting)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        96
      ],
      "webhookId": "b0272b58-fd38-4ee5-ab2d-44cc2961e794",
      "notes": "3-second delay between searches to respect API rate limits"
    },
    {
      "parameters": {},
      "id": "66dedaec-1e13-4e39-ae9d-994ffed8d2cd",
      "name": "Loop Back1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        336
      ],
      "notes": "Visual marker - connects back to Split In Batches node"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Search the Linkedin profile url.\n\nCheck and fix a url format if necessary. For example, I want that all urls have the same format: https://www.linkedin.com/PROFILE_ID. \n\nThe PROFILE_ID is different for each person but the rest should be always the same. \n\nSometimes the Linkedin url might be:  https://ie.linkedin.com/in/donal-murphy-9b69b934 and we want to format as https://www.linkedin.com/in/donal-murphy-9b69b934",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Always use your web search tool. Search using the following query: {{ $json['full name'] }} + {{ $json.company_name }} + {{ $json.role }} + Linkedin\n\nAlways return the first url result from the web search."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -48
      ],
      "id": "0bb38492-4409-4a91-b9cd-e4fd046e6a00",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1072,
        320
      ],
      "id": "6fe26257-3c2f-4454-beb0-6810e689f4e3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mZ3zckH2SlfqcPPK",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"full name\": \"Karim Bitar\",\n\t\"linkedin_url\": \"https//www.linkedin.com/karim2323\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -768,
        224
      ],
      "id": "378177ae-ffae-4024-a805-86a9463aa38c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Google Search",
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": " AIzaSyAqPg4anBHZzKF25-6SeUoJMzuUsKKQ8fU"
            },
            {
              "name": "cx",
              "value": "a64208083917a4711"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "num",
              "value": "2"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -896,
        320
      ],
      "id": "53e02f15-11e9-471a-9a09-d26486627ec3",
      "name": "Google Programmable Search"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "uk_executives_list",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "a02ba4c4-327c-47ff-acf7-6cf64bed6e52",
      "name": "Supabase - Mark Processed (Success)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "PULL NAMES, ROLES AND COMPANIES FROM SUPABSE",
        "height": 448,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        48
      ],
      "typeVersion": 1,
      "id": "142aee2b-1ae7-4087-9fe9-959a3f98a3a7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "SEARCH LINKEDIN URLS USING GOOGLE PROGRAMMABLE SEARCH ENGINE",
        "height": 672,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        -128
      ],
      "typeVersion": 1,
      "id": "5ec48c30-db73-49e0-9561-33584778820b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "SAVE RESULTS IN SUPABASE",
        "height": 672,
        "width": 1072,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -128
      ],
      "typeVersion": 1,
      "id": "d242b1c8-619d-4511-ad6b-5d0ce2fe96a5",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Unprocessed Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - LinkedIn Found": {
      "main": [
        [
          {
            "node": "Supabase - Update with LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Mark Processed (No LinkedIn)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update with LinkedIn": {
      "main": [
        [
          {
            "node": "Supabase - Mark Processed (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Mark Processed (No LinkedIn)": {
      "main": [
        [
          {
            "node": "Supabase - Mark Processed (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unprocessed Records": {
      "main": [
        [
          {
            "node": "Loop Through Directors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Directors": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limiting)": {
      "main": [
        [
          {
            "node": "Loop Back1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back1": {
      "main": [
        [
          {
            "node": "Loop Through Directors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Programmable Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "IF - LinkedIn Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Mark Processed (Success)": {
      "main": [
        [
          {
            "node": "Wait (Rate Limiting)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "91399a6a-330f-4390-9611-d936710470a1",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-15T22:41:29.779Z",
      "createdAt": "2025-10-15T22:41:29.779Z",
      "role": "workflow:owner",
      "workflowId": "KAQgQpX0b3ZNKgNk",
      "projectId": "yy9eTOMcWs4nkB5T"
    }
  ],
  "tags": []
}