workflows/tmt_extraction_from_corporate_website.json
{
  "updatedAt": "2025-10-14T19:34:33.000Z",
  "createdAt": "2025-10-14T14:02:21.460Z",
  "id": "h8fntGdENlejfjBX",
  "name": "TMT Extraction from Corporate Website",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "8a608555-23b9-4ba5-87df-165dca3d0f13",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1088,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "link_sources_tmt",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "processed",
              "condition": "eq",
              "keyValue": "False"
            }
          ]
        }
      },
      "id": "c876dd5f-e8a1-4c97-8eb0-0c8829a81004",
      "name": "Supabase - Get Unprocessed",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -864,
        -64
      ],
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a30ecdf0-b3aa-4687-b4e9-56bc4f09dbdd",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -640,
        -64
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "cfaaee86-0706-4636-b242-1f40a32bed2c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -448,
        -208
      ],
      "webhookId": "9316745d-6f60-48c0-bfd7-3cff031ee59f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "data_exists",
              "leftValue": "={{ $json.data }}",
              "rightValue": true,
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8764141-bef6-4d60-aca4-c1bc8f75427e",
      "name": "IF - Data Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        -112
      ],
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get data from previous nodes\nconst companyData = $('Loop Over Items').item.json;\nconst extractedData = $json;\n\n// Log the structure to debug\nconsole.log('Extracted data structure:', JSON.stringify(extractedData, null, 2));\n\n// Check if data exists and has the executive_leadership_team array\nif (!extractedData.data || \n    !extractedData.data.executive_leadership_team || \n    !Array.isArray(extractedData.data.executive_leadership_team)) {\n  console.log('No executive leadership team found in the data.');\n  return [];\n}\n\n// Check if the array is empty\nif (extractedData.data.executive_leadership_team.length === 0) {\n  console.log('Executive leadership team array is empty.');\n  return [];\n}\n\n// Transform each team member into the desired format\nconst executives = extractedData.data.executive_leadership_team.map(member => ({\n  company_number: companyData.company_number,\n  company_name: companyData.company_name,\n  type: 'top_management',\n  full_name: member.name || '',          // Use empty string if null\n  role: member.title || 'Not specified', // Use 'Not specified' if null\n  url_website_source: companyData.tmtUrl\n}));\n\n// Filter out entries with a missing name (role can be empty)\nconst validExecutives = executives.filter(exec => \n  exec.full_name && exec.full_name.trim() !== ''\n);\n\nconsole.log(`Found ${validExecutives.length} valid executive members.`);\n\n// Return the formatted data for n8n\nreturn validExecutives.map(exec => ({ json: exec }));"
      },
      "id": "0adb4e53-49ad-4c53-b559-d89ed8ca4b5a",
      "name": "Code - Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "executives_n8n",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_number",
              "fieldValue": "={{ $json.company_number }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $json.company_name }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $json.full_name }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $json.role }}"
            },
            {
              "fieldId": "url_website_source",
              "fieldValue": "={{ $json.url_website_source }}"
            }
          ]
        }
      },
      "id": "8c44111b-a102-4d79-98b0-547886b30241",
      "name": "Supabase - Insert Executives",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "link_sources_tmt",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processed",
              "fieldValue": "true"
            }
          ]
        }
      },
      "id": "de95ddf3-a9e8-42db-afae-89b6acf98e7c",
      "name": "Supabase - Mark Processed (Success)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1328,
        -224
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "muhyIkmC96gSHUut",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "55ce2908-b11c-42e7-8a3a-ce778384c074",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1536,
        -64
      ]
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v2/extract/{{ $('Extract').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        -416
      ],
      "id": "4e5f18e3-3781-415f-a8c8-14b948930e42",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KT3q4YLLWiIqM1fj",
          "name": "Header Auth Firecrawl"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        192
      ],
      "id": "e05a81fa-a681-4e91-9475-1182067b109d",
      "name": "Wait1",
      "webhookId": "ab72bfef-5be7-4e8f-b635-f4342a6fd8d1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"{{ $json.tmtUrl }}\"\n  ],\n  \"prompt\": \"Extract only those listed as Executive Leadership Team, not the Board of Directors. They might be called leadership team, executive committee or management team. Return clean, standardized names without prefixes like 'Mr.' or 'Dr.'. Use exact job titles as they appear on the page. If photos or bios are present, extract the name and title from the text near the photo.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"executive_leadership_team\"\n    ],\n    \"properties\": {\n      \"executive_leadership_team\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"name\",\n            \"title\"\n          ],\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\"\n            },\n            \"title\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -320
      ],
      "id": "4653a45a-4cfc-4cec-86f1-471a5f4c8980",
      "name": "Extract",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "KT3q4YLLWiIqM1fj",
          "name": "Header Auth Firecrawl"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "TOP MANAGEMENT TEAM EXTRACTION",
        "height": 720,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        -464
      ],
      "typeVersion": 1,
      "id": "9ad10138-ac5f-4c3e-a0c4-cf617e0e28bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "FIRECRAWL - EXTRACTON",
        "height": 880,
        "width": 896,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -464
      ],
      "typeVersion": 1,
      "id": "b3c0e026-d307-43f1-a4ea-201d0b9ac6f4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "ADD TO SUPABSE",
        "height": 720,
        "width": 1008,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -464
      ],
      "typeVersion": 1,
      "id": "485a71d9-66c4-48a8-baf0-ef6928fb8275",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Supabase - Get Unprocessed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Unprocessed": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Data Found": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Transform Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Transform Data": {
      "main": [
        [
          {
            "node": "Supabase - Insert Executives",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Insert Executives": {
      "main": [
        [
          {
            "node": "Supabase - Mark Processed (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Mark Processed (Success)": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF - Data Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "016a63ff-4c4d-4aed-a8ff-2577af4f12a1",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-14T14:02:21.465Z",
      "createdAt": "2025-10-14T14:02:21.465Z",
      "role": "workflow:owner",
      "workflowId": "h8fntGdENlejfjBX",
      "projectId": "yy9eTOMcWs4nkB5T"
    }
  ],
  "tags": []
}